<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735038827035-arjnjoelda2angcqi16epin04hte8jep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735038827035-arjnjoelda2angcqi16epin04hte8jep</string>
	<key>API_KEY</key>
	<string>AIzaSyAo7wNiglip70g233o6XKXZH03gF9i2Bxo</string>
	<key>GCM_SENDER_ID</key>
	<string>735038827035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finalproject.medicalBlog</string>
	<key>PROJECT_ID</key>
	<string>medical-blog</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-blog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735038827035:ios:8301a54a0aa6171bb826be</string>
</dict>
</plist>